<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>문자 행동으로 민주주의 실현</p>
    <ul class="waste-list">
      <li>
        <a href="sms:010-2345-2222?body=[문자행동]"  >홍문종</a>
      </li>
      <li>
        <a href="sms:017-357-7663?body=[문자행동]"  >서청원</a>
      </li>
      <li>
        <a href="sms:010-3447-6767?body=[문자행동]"  >원유철</a>  
      </li>
      <li>
        <a href="sms:010-3447-6767?body=[문자행동]"  >원유철</a>
      </li>
      <li>
        <a href="sms:010-2581-9888?body=[문자행동]"  >유기준</a>
      </li>
      <li>
        <a href="sms:010-2915-9600?body=[문자행동]"  >윤상현</a>
      </li>
      <li>
        <a href="sms:010-9307-1181?body=[문자행동]"  >이주영</a>  
      </li>
      <li>
        <a href="sms:010-8980-2278?body=[문자행동]"  >최경환</a>
      </li>
      <li>
        <a href="sms:010-8872-2300?body=[문자행동]"  >박주선</a>
      </li>
      <li>
        <a href="sms:010-9038-5274?body=[문자행동]"  >김무성</a>  
      </li>
      <li>
        <a href="sms:010-6341-8369?body=[문자행동]"  >윤영석</a>  
      </li>
      <li>
        <a href="sms:010-3756-0180?body=[문자행동]"  >이태규</a>  
      </li>
      <li>
        <a href="sms:010-4414-4955?body=[문자행동]"  >정양석</a>  
      </li>
    </ul>
    <p>[출처] <a href="http://m.todayhumor.co.kr/view.php?table=bestofbest&no=339972&page=1" target="_bank">오늘의 유머</a></p>
    <p>[수정 및 피드백] <a href="email:9x93q@wimsg.com" target="_bank">행인 마스터</a></p>
    
  </body>
</html>
